<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>

    <div>
        <div >
    
          <h1>SIGNUP</h1>
          <br>
          <form role="form" action="/api/user/register" method="post" enctype="multipart/form-data" autocomplete="off">
    
            <div >
              <input name='username' placeholder="user@mail.com" class="form-control" type="text" required>
            </div>
            <div >
              <input name='password' placeholder="Password" class="form-control" type="password" required>
            </div>
    
            <br>
    
            <div >
              <input name='name' placeholder="firstname" class="form-control" type="text" required>
            </div>
    
            <div >
              <input name='address' placeholder="name-street 123" class="form-control" type="text" required>
            </div>

            <div >
              <input name='cellphone' placeholder="123456789" class="form-control" type="number" required>
            </div>
    
            <div >
              <input name='age' placeholder="25" class="form-control" type="number" required>
            </div>
            <br>
            <div>
              <input type="file" name="myFile">
              <input type="submit" value="Subir">
            </div>


    
            <div >
              <input  type="submit" value="Singup">
            </div>
          </form>
    
        </div>
      </div>
    


    <!-- <div>
        <form action="/api/register" method="post">
            <fieldset>
                <label for="usar">Register:</label>
                <input id="login__input" type="text" name="nombre" placeholder="Ingresar nombre">
                <input id="login__input" type="text" name="apellido" placeholder="Ingresar apellido">
                <input id="login__input" type="email" name="email" placeholder="Ingresar email">
                <input id="password__input" type="password" name="password" placeholder="Ingresar password">                
                <input type="submit" value="Register">
            </fieldset>
        </form>
        <div>
            <button id="toLogin">Sign In</button>
        </div>
    </div> -->

    <script>
        const toLogin = document.querySelector("#toLogin");
        toLogin.addEventListener("click", evt => {
            evt.preventDefault();
            location.href = '/api/login';
        })
    </script>
</body>
</html>