*{
    margin: 0;
    padding: 0;
}


.formProduct{
    margin: 3% 0;
    height: 6rem;
}

.formProduct label{
    margin: 3% 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.formMessage{
    margin: 3% 0;
    height: 6rem;
}

.formMessage input{
    margin-top: 7px;
    margin-bottom: 7px;
}

.formMessage label{
    margin: 3% 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.prodContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 105, 105, 0.31);
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 27rem;
    overflow-y: auto;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 105, 105, 0.31);
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 24rem;
    overflow-y: auto;
}

.image{
    width: 3.5rem;
    height: 3.5rem;
}

body{
    margin: 3%;
}

h1{
    text-align: center;
    margin-bottom: 5%;
}

h2{
    margin: auto;
}

button{
    width: 5.5rem;
    height: 2.5rem;
    background-color: rgba(84, 161, 234, 0.423);
    color: black;
    font-weight: 600;
    border-radius: 7px;
    margin-left: 2%;
}

tbody{
    width: 100%;
    margin: 1% 0;
}

th{
    width: 14rem;
}
td{
    width: 14rem;
    text-align: center;
}
.chat__Container{
    display: block;
    border: 2px solid #3c3b3f;
}

.email__Cla{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-weight: 700;
}
.date__Cla{
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
}
.message__Cla{
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-style: italic;
}

span{
    margin-left: 1%;
}