<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1 class="title">TERCER Pre-Entrega</h1>
    <h3><%= user %></h3>

    <div id="home">
      <img class="img_avatar" src="" alt="" />
      <div class="cart_container">
        <ul>
          <h3>Carrito de compras</h3>
          <li>compra</li>
          <li>compra</li>
        </ul>
      </div>
    </div>

    <div id="app"></div>

    <script src="/javaScripts/home.js"></script>
  </body>
</html>
