
<h1>Productos</h1>
{{#if hasAny}}
  <table>
        <tr>
            <th>TITULO</th>
            <th>PORTADA</th>
            <th>PRECIO</th>
        </tr>
    {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td><img alt="item img" src="{{this.thumbnail}}" /></td>
            <td>${{this.price}} USD</td>
        </tr>
    {{/each}}
  </table>
  {{else}}
    <h2>No hay productos</h2>
{{/if }}
